html {
    background-color: #000000;
}
section {
    display: flex;
}

.cabecalho {
    margin: -8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 54px;
    padding: 20px 299px;
    background-color: #000000;
    color: aliceblue;
    
}

.boas-vindas {
    margin: 5px -8px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    padding: 20px 450px;
    background-color: #1C1C1C;
    color: aliceblue;
    border: solid 8px #ff2800 ;
}

.tipo {
    margin: -5px -8px 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
    padding: 15px 140px ;
    background-color: #696969;
    border: solid 8px #ff2800;
}

.tamanho {
    max-width: 100%;
    max-height: 100%;
    margin: 4px -8px -3px;
    border: solid 8px #ff2800 ;
}
